<div class="row">
  <h2 class="mb-3">Professional Experience</h2>
</div>
<div class="row">
  <div class="col mt-4">
    <div class="timeline-body bg-themed">
      {% for item in site.data.professional-experience %}
        <div class="timeline-item">
          <div class="content">
            <h5>{{ item.title }}</h5>
            <h6>{{ item.company }}</h6>
            <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
            <p>{{item.summary}}</p>
            <ul>
              {% for desc in item.description %}
              <li>{{ desc }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
